{% load custom_filters %}
{% load tz %}

{% timezone "Asia/Kolkata" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h2, h3 {
            margin: 0;
        }

        .invoice-header h2 {
            font-size: 24px;
        }

        .invoice-header p {
            font-size: 14px;
        }

        .invoice-details {
            overflow: hidden;
        }
        
        .invoice-details-left {
            float: left;
            width: 50%;
        }
        
        .invoice-details-right {
            float: right;
            width: 50%; 
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        .bold-label {
            font-weight: bold;
        }

        .footer {
            margin-top: 20px;
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
        .table1{
            width: 50%;
            margin-left: 50%;
        }
    </style>
 
</head>

<body>
    <div class="container">
        <div class="invoice-header">
            <h2>VARNA TRAVELS</h2>
            <p>#778, SM Arcade, AECS Layout, "B" Block, Singasandra Post, Bangalore - 560 068 | 
                Email: varnatravels@gmail.com, info@varnatravels.com | 
                Phone: +91 80-25743355
            </p>
        </div>
        <hr />
        <h3 style="text-align: center">INVOICE</h3>
        <hr />
            <div class="invoice-details" style="display: flex; justify-content: space-between;">
            <div class="invoice-details-left" style="flex: 1 ;margin-right: 20px;">
                {% if invoice.invoice_ref_id %}
                    <p>{{ invoice.items.0.trip_request.trip_passengers.0.passenger.passenger_name }} C/o</p>
                {% endif %}
                <p>{{ client.client_name }}</p>
                <p>
                    {{ client.address }} <br />
                    {{ client.address1 }} <br />
                    {{ client.state }} - {{ client.pincode }} <br />
                    GST NO: {{ client.gst_number }} <br />
                    <span class='bold-label'>State of Supply:</span> 29-Karnataka <br />
                </p>
            </div>
            <div class="invoice-details-right" style="flex: 1; margin-right: 20px;">
                <p>
                    *Original for recipient <br />
                    <span class='bold-label'>Invoice Number:</span> {{ invoice.invoice_no }}<br />
                    <span class='bold-label'>Invoice Date:</span> {{ invoice.invoice_date|date:"d-m-Y"}}<br />
                    <span class='bold-label'>Due Date:</span> {{ invoice.invoice_date|date:"d-m-Y"}}<br />
                    <span class='bold-label'>Invoice Period:</span> 01-05-2024 to 31-05-2024<br />
                    <span class='bold-label'>Service:</span> Rent-A-Cab Operator<br />
                </p>
            </div>
            </div>
            {% if client.gst_exemption == "Yes" %}
            <table class="table1">
                <tbody>
                <tr>
                    <td class='bold-label' width="17">St No.</td>
                    <td width="17"> AHOPA7992CST001</td>
                </tr>
                <tr>
                    <td class='bold-label'>PAN No.</td>
                    <td>{{ client.pan_number}}</td>
                </tr>
                <tr>
                    <td class='bold-label'>GST No.</td>
                    <td>{{ client.gst_number}}</td>
                </tr>
                <tr>
                    <td class='bold-label'>LUT - AR</td>
                    <td># AD290324039103D</td>
                </tr>
                <tr>
                    <td class='bold-label'>LUT Date</td>
                    <td>01-05-2024 </td>
                </tr>
                <tr>
                    <td class='bold-label'>SAC No.</td>
                    <td>996601</td>
                </tr>
                <tr>
                    <td class='bold-label'>PO No.</td> 
                    <td>{{ invoice.po_no }}</td>
                </tr>
            </tbody>
        </table>
            {% endif %}

        {% if item.trip_request.trip_request_id %}
        <table>
            <thead>
                <tr>
                    <th>SL.NO</th>
                    <th>DESCRIPTION</th>
                    <th>Rate</th>
                    <th>QTY</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                {% for item in invoice.items.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <div>
                                <span>{{ item.trip_request.trip_request_id }}</span>
                                <span class='bold-label'>Booked by:</span> {{ item.trip_request.booked_name }} | 
                                <span class='bold-label'>Date:</span> {{ item.trip_request.trip_time|date:"d-m-Y" }}<br />
                                <span class='bold-label'>Vehicle Type:</span> {{ item.trip_request.vehicle_model }} | 
                                <span class='bold-label'>{{ item.trip_request.vehicle_number }}</span> | 
                                <span class='bold-label'>Trip Type:</span> {{ item.trip_request.trip_type }}<br />
                                <span class='bold-label'>Passengers:</span> 
                                {% for pass in item.trip_request.trip_passengers.all %}
                                    {{ pass.passenger.passenger_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}<br />
                                <a href="{{ base_url }}/{{ item.trip_request.tripsheet_file }}">Click to view trip sheet</a>
                            </div>
                        </td>
                        <td>{{ item.trip_request.base_price }}</td>
                        <td>1</td>
                        <td>{{ item.trip_request.base_price }}</td>
                    </tr>
                    {% if item.trip_request.extra_distance %}
                        <tr>
                            <td></td>
                            <td>Extra Km</td>
                            <td>{{ item.trip_request.rate_for_extra_km }}</td>
                            <td>{{ item.trip_request.extra_distance }}</td>
                            <td>{{ item.trip_request.rate_for_extra_km|multiply:item.trip_request.extra_distance|floatformat:2 }}</td>
                        </tr>
                    {% endif %}
                    {% if item.trip_request.extra_time %}
                        <tr>
                            <td></td>
                            <td>Extra Hours</td>
                            <td>{{ item.trip_request.rate_for_extra_hours }}</td>
                            <td>{{ item.trip_request.extra_time }}</td>
                            <td>{{ item.trip_request.rate_for_extra_hours|multiply:item.trip_request.extra_time|floatformat:2 }}</td>
                        </tr>
                    {% endif %}
                    {% if item.trip_request.driver_betta %}
                        <tr>
                            <td></td>
                            <td>Driver Allowance</td>
                            <td></td>
                            <td></td>
                            <td>{{ item.trip_request.driver_betta }}</td>
                        </tr>
                    {% endif %}
                    {% if item.trip_request.toll %}
                        <tr>
                            <td></td>
                            <td>Toll</td>
                            <td></td>
                            <td></td>
                            <td>{{ item.trip_request.toll }}</td>
                        </tr>
                    {% endif %}
                    {% if item.trip_request.parking %}
                        <tr>
                            <td></td>
                            <td>Parking</td>
                            <td></td>
                            <td></td>
                            <td>{{ item.trip_request.parking }}</td>
                        </tr>
                    {% endif %}
                    {% if item.trip_request.entry_tax %}
                        <tr>
                            <td></td>
                            <td>Entry Tax</td>
                            <td></td>
                            <td></td>
                            <td>{{ item.trip_request.entry_tax }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>{{ invoice.items.all|length|add:1 }}</td>
                    <td>Summary</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2"><span class="bold-label">Taxable Sub Total</span></td>
                    <td>{{ invoice.total_taxable }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2">CGST - {{ invoice.cgst_percentage }}%</td>
                    <td>{{ invoice.total_taxable|calc_tax:invoice.cgst_percentage }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2">SGST - {{ invoice.sgst_percentage }}%</td>
                    <td>{{ invoice.total_taxable|calc_tax:invoice.sgst_percentage }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Driver Allowance, Toll, Parking & Entry Tax</td>
                    <td colspan="2"><span class="bold-label">Non-Taxable Sub Total</span></td>
                    <td>{{ invoice.total_not_taxable }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2"><span class="bold-label">Round Off</span></td>
                    <td>{{ invoice.round_off }}</td>
                </tr>
                <tr>
                    <td colspan="2"><span class="bold-label">In words:</span>{{ invoice.total|number_to_words }}</td>
                    <td colspan="2"><span class="bold-label">TOTAL</span></td>
                    <td>{{ invoice.total }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ payment_link }}">Please click here to Pay the Invoice online</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>SL.NO</th>
                    <th>DESCRIPTION</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                {% for item in invoice.items.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.desc }}</td>
                        <td>{{ item.amount }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Grand Total</td>
                    <td>{{ invoice.total }}</td>
                </tr>
                <tr>
                    <td colspan="2"><span class="bold-label">In words:</span>{{ invoice.total|number_to_words }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ payment_link }}">Please click here to Pay the Invoice online</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        <div style="display: flex; margin-top: 10px;">
            <div style="flex: 60%;">
                {% if client.gst_exemption == "Yes" %}
                <p>
                    Note: Whether Reverse charge mechanism applicable - YES
                    The GST is liable by service receipt as per new amendment from 1st Oct 2019, under RCM
                </p>
                {% endif %}
                {% if client.gst_exemption == "No" %}
                <p>
                    (SUPPLY MEANT FOR EXPORT/SUPPLY TO SEZ UNIT OR DEVELOPER FOR AUTHORISED OPERATIONS ON PAYMENT IF IGST)
                </p>
                {% endif %}
                <p>
                    1. All cheques/drafts to be drawn in favour of: VARNA TRAVELS<br />
                    2. Duty slips/statement of usage enclosed in Original.<br />
                    3. All disputes are subject to Bangalore jurisdiction only.<br />
                    4. We are registered as an MSME in accordance with government regulations. (REG NO: UDYAM-KR-02-0055863).<br />
                    5. If there is any clarification regarding this invoice, please revert within seven days of submission; otherwise, it will be considered final.
                </p>
                <p style="margin-top: 10px;">
                    <span class="bold-label">GSTIN:</span> {{ client.gst_number }} | 
                    <span class="bold-label">SAC/HSN/Accounting code:</span> | 
                    <span class="bold-label">PAN:</span> {{ client.pan_number }}
                </p>
                <div class="invoice-details-right">
                    <p>For Varna Travels</p>
                    <p style="margin-top: 20%;">Authorized Signatory</p>
                </div>
                <p style="margin-top: 10px;">
                    <span class="bold-label" style="text-decoration: underline;">Bank Details</span><br />
                    <span class="bold-label">Account No.:</span> {{ bank.account_no }}<br />
                    <span class="bold-label">Bank:</span> {{ bank.bank_name }} ({{ bank.branch_name }}) | 
                    <span class="bold-label">IFSC:</span> {{ bank.ifsc_code }}<br />
                    Please issue cheques in the name of <span class="bold-label">"VARNA TRAVELS".</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

{% endtimezone %}
